<div mat-dialog-title>
    Employee Form
</div>
<form  >
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Symbol</mat-label>
            <input matInput type="text" placeholder="Ex. AAPL" >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput type="text" placeholder="Ex. Apple" >
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Purchase</mat-label>
            <input matInput type="number" >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Dividend</mat-label>
            <input matInput type="number">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Industry</mat-label>
            <input matInput type="text" placeholder="Ex. Tech">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Market Capitalization</mat-label>
            <input matInput type="number">
          </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="action"  >
    <button mat-raised-button color="warn" type="button" mat-dialog-close="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Add</button>
</div>
</form>
