<div class="container">
    <div class="title" mat-dialog-title>
        Register
    </div>
    <form   >
    <div mat-dialog-content class="content">
        
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" placeholder="Ex. Samuel" >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. samuel@exemple.com" >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Ex. Yao">
              </mat-form-field>
        
    </div>
    <div mat-dialog-actions class="action"  >
        <button mat-raised-button color="warn"  [routerLink]="['/login']">Cancel</button>
        <span></span>
        <button mat-raised-button color="primary">Register</button>
    </div>
    </form>
</div>

